html {
    min-height: 100;
}

body {
    margin: 0;
    padding: 0;
    background: url("./background.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: bottom;
    min-height: 100%;
}

h6 {
    text-align: center;
    color: white;
}


/*.topnav a {
    float: left;
}*/

input {
    width: 100%;
    box-align: center;
    padding: 10px 10px;
    margin: 8px 8px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
    box-align: center;
}

button {
    width: 100%;
    box-align: center;
    padding: 20px 20px;
    margin: 8px 8px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}

form {
    margin-top: 120px;
}

p {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

.player-wrapper {
    position: static;
    padding-top: 10%;
}

.react-player {
    position: fixed;
    top: 0;
    left: 0;
}

.footer.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
}

.footer.main {
    flex: 1 0 auto;
}